<!DOCTYPE html>
<html>

<head>
  <title>Forgot password</title>
  <link rel="stylesheet" href="/css/styles7.css">
</head>
<body style="background-image:url(/images/img1.jpg);">
  <div class="head">
  <img id="logo" src="images/cdac logo.jpg" alt="">
  
<div class="title">
  <h1> Centre for Development of Advanced Computing Center in North East  SILCHAR</h1>
  
  <h3 style="font-size:30px;">Public Grievance Redressal System</h3>
</div>
<img id="clg" src="/images/clgpic.jpeg" alt="">
</div>
  <div class="home">
    <a href="/" class="nav">HOME</a>
    <a href="about" class="nav">ABOUT US</a> 
      <a href="/contact" class="nav">CONTACT US</a>
   
      <!-- <a href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC</a> -->
      <a style="width:200px;" href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC Main Website</a>
</div>

    <div class="div1">
      <h1 id="heading" class="heading1">
        FORGOT PASSWORD
      </h1>
      <% if(message.length > 0){ %> 
        <div class="alert alert-warning">
          <%= message %> 
        </div>
      <% } %> 
      <form class="form" action="/forgotPass" method="post">
      <div class="main">

        <p>
          Username/Email Id/Mobile No
        </p>
        <input type="Username" name="username" placeholder="Username">
       
  </div>
        <br><br>
        <div class="div2">

          <button type="submit" name="submit">Send Link</button>
        </div>
        <div class="bottom">
        <p class="para">
          Back To

          <a href="/login">User login</a>
        </p>

      </div>
      </form>
    </div>



    <footer>
      <p>
       <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
       <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
       <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
       <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
       <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
       <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
       <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img src="/images/pics/linkedin.png" alt=""></a>
       <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/images/pics/twitter.png" alt=""></a>
      </p>
      <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
      <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p>
   </footer>
<script>
     window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 3000);
</script>
</body>

</html>
